.App {
  width: 100vw;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(31, 30, 32);
}

.sequencer {
  display: flex;
}
